#articulos{
    margin-top: 100px;
}
.contenedor-articulos, .contenedor-celulares, .contenedor-perifericos, .contenedor-electrodomesticos{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}
#celulares{
    background-color: rgb(204, 119, 15);
}
#electrodomesticos{
    background-color: rgba(17, 57, 235,0.3);
}
img{
    width: 290px;
    height: 250px;
    padding:5px;
    margin:20px ;
    text-align: center;
    object-fit:contain;
   
}

img:hover{
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
article{
   width: 280px;
    text-align: center;
    margin: 25px;

}
h3{
    margin: 10px 0;
    font-size: 1.5em;
    font-weight: bolder;
}
h3,h4{
text-align: center;
}
@media(max-width:728px){      
    #articulos{
        margin-top: 150px;
    }
}
@media(max-width:513px){
    #articulos{
        margin-top: 210px;
    }
}
@media(max-width:340px){
    #articulos{
        margin-top: 250px;
    }
}