@import url('https://fonts.googleapis.com/css2? family= Overlock:wght@400;700 & family= Quicksand & display=swap');
/*familia de fuentes: 'Overlock', cursiva;
familia de fuentes: 'Quicksand', sans-serif;*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Overlock';
    
}
body{
    background-image:#ffff99 ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    color: rgb(14, 168, 60);
    
}
header .contenedor{
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding: 0px 10px;
    background-color: beige;
}
header h1{
  
    font-size: 3em;
}
header p {
    font-size: 2em;
   
}
 section {
     padding-bottom: 20px;
     padding-top: 30px;
  
 }